body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: absolute;
    top: 15px;
    width: 100%;
    text-align: right;
}

header a{
    color: rgba(0,0,0,1);
    text-decoration: none;
    margin-right: 100px;
    font-family: Tahoma;
    font-size: 16px;
    transition: 0.5s ease-in-out;
}
header a:hover{
    color: pink;
}
main{
    background-image: url("./image/blue.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main h1{
    margin: 0;
    font-size: 60px;
    mix-blend-mode:overlay;
}
