

*{
    box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ------header section-----*/

header{
    width:100%;
    background-color: rgba(23,23,23,0.15);
    padding: 20px;
    position: absolute;
    top:0;
}
header .container{
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin: auto;
}
header a{
    text-decoration: none;
    margin-right: 100px;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: Tahoma;
    color: rgba(255, 255, 255,.719);
}

/* ------banner section-----*/


.banner-container{
 
  
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(6,72,105,0.849),rgb(1,96,133)),url("./image/blue1.jpeg");
    
    display: flex;
    align-items: center;
   
}
.banner-container .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* ------left section-----*/
.left-section{
    width: 600px;
    align-self: flex-start;
}

.left-section h1{
    margin: 0;
    font-size: 40px;
    color: white;

}

.left-section p{
    margin: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    color: wheat;
    line-height: 28px;
    margin-top: 18px;
}


.left-section button{
    color: #2098ca;
    font-weight: bold;
    background-color: white;
    border: none;
    padding: 12px 50px;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
    outline: none;
}
.left-section button:hover{
    transform: scale(1.1);
    font-size: large;
}



/* ------right section-----*/
.right-section{
    width:400px;
    background-color: white;
    border-radius: 15px;
    padding: 40px 0;
    box-shadow: 0 5px 6px rgba(0,0,0,.219);
}

.right-section h4{
    font-size: 20px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    color: rgb(136,136,136);
}


/* input section */

.input-group{
    width: 300px;
    margin: 30px auto;
    display:flex;
    flex-direction: column;
    position: relative;
}

.input-group label{
    color:rgb(165,165,165);
    font-size: 14px;
    position: absolute;
    top:10px;
    transition: 0.5s ease-in-out;
}

.input-group input{
    
    
    color: #2098ca;
    caret-color: black;
    border: none;
    padding: 7px;
    margin-top: 5px;
    outline: none;
    border-bottom: 1px solid #c9c9c9;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label{
    color: #2098ca;
    top:-10px;
}


.input-group input:focus 
 {
    border-color: #2098ca;
   
}

.button-section{
    text-align: center;
}


.submit-button{

    background-color:#2098ca; 
    color: white;
    border: none;
    padding: 10px 0;
    margin-top: 15px;
    border-radius: 5px;
    width: 300px;
    cursor: pointer;
    outline: none;
}
.submit-button:hover{
    box-shadow: 0 3px 6px silver;
}


/* section two */

.section-two{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}
.card-container{
    width:350px;
    border-radius: 15px;
    box-shadow: 10px 5px 26px rgba(0,0,0,0.2);
    overflow: hidden;
    text-align: center;
}
.card-container h1{
    color: rgb(123,123,123);
}


.image-container{
    width:100%;
    height: 450px;
    overflow: hidden;
}

.image-container img{
    width:100%;
    height:100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.image-container img:hover{
    transform: scale(1.2) rotate(-5deg);
}


footer{
    text-align: center;
    color: grey;
    padding: 15px;
    background-color: #2098ca;;
}

span{
    color: white;
    margin-left: 5px;
}