*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
}
.section{
    flex: 25%;
    padding: 0 5px;
}
.img{
    width:100%;
    margin: 3px 0;
    transform: scale(0.8);
    transition: 1s ease-in-out;
}

img:hover{
    transform: scale(1.2) rotate(-20deg);
}

