body{
    margin: 0;
}
h1{
    margin: 0;
}
.container{
    background-color: blueviolet;
    display: flex;
    height:300px;
    flex-wrap: wrap;
   /*justify-content: space-evenly;
  
   align-items: flex-end;*/
    
}
.one,.two,.three,.four{
     width:200px;
    background-color: brown;
    border:1px solid white;
    text-align: center;
    padding: 5px;
   
}
.four{
    flex: 1;
    order: 1;
}
.one{
    order: 2;
}
.two{
    order:3;
}
.three{
    order:4;
}
